#title{
    background: #651fff;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

#loginbtn{
    background: #651fff;
    font-weight: 600;
    float: right;
    margin-right: 10px;
}

.error{
    color: red;
}

.input-field {
    margin-bottom: 0px !important;
    padding-bottom:  0px !important;
}

#errorMsg {
    background-color: #f44336 ;
    color: #fff;
    width: 100%;
    height: 50px;
    text-align: center;
}
#errorMsg span{
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    font-size: 15px;
    float: left;
}